<section class="ten columns alpha">
	<h2>University of Maryland&#39;s Entrepreneurship Network</h2>
	<p>
		 Building entrepreneurial culture and coming together to reduce barriers to entrepreneurship at the university. More information about future updates to come soon.
	</p>
</section>
<section class="six columns omega">
	<% unless current_user %>
		<h3>Begin Today:</h3>
		<a href="/login" class="green-button">Login</a>
		<a href="/signup" class="green-button">Sign Up</a>
	<% else %>
		<h3> Welcome to the network. </h3>
		<a><%= link_to "Logout", logout_path %></a>	
	<% end %>		
</section>
