/*
* Skeleton V1.1
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 8/17/2011
*/

/*------------------------------------*\
	TOC
\*------------------------------------*/
/*
	#Site Styles
	#Page Styles
	#Media Queries
*/

/*------------------------------------*\
	#Site Styles
\*------------------------------------*/

::selection {
	background: #F5B8B8; /* Safari */
	}
::-moz-selection {
	background: #F5B8B8; /* Firefox */
}

.sub_menu li:last-child a{border-bottom: 0px solid #fff;}

div .green-button, div a.green-button, div input.green-button {
	-moz-box-shadow:inset 0px 1px 0px 0px #c1ed9c;
	-webkit-box-shadow:inset 0px 1px 0px 0px #c1ed9c;
	box-shadow:inset 0px 1px 0px 0px #c1ed9c;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #9dce2c), color-stop(1, #8cb82b) );
	background:-moz-linear-gradient( center top, #9dce2c 5%, #8cb82b 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#9dce2c', endColorstr='#8cb82b');
	background-color:#9dce2c;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #83c41a;
	display:inline-block;
	color:#ffffff !important;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:1px 1px 0px #689324;
}
div .green-button:hover, div a.green-button:hover, div input.green-button:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #8cb82b), color-stop(1, #9dce2c) );
	background:-moz-linear-gradient( center top, #8cb82b 5%, #9dce2c 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#8cb82b', endColorstr='#9dce2c');
	background-color:#8cb82b;
}
div .green-button:active, div a.green-button:active, div input.green-button:active {
	position:relative;
	top:1px;
}


header{background: #eee;}
header h1{padding: 0 10px;}
h1 .red{color: #FC2626;}

.grey-box{background: #fff;  -moz-opacity:.85; filter:alpha(opacity=85); opacity:.85; padding: 10px;}

.sf-menu li li{background: #ccc;}
.sf-menu li{background: #ccc;}


/*------------------------------------*\
	#Page Styles
\*------------------------------------*/

/*------------------------------------*\
	#Media Queries
\*------------------------------------*/

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {}

